@model IEnumerable<DataLineViewModel>

<style>
    .dataLine {
        font-family: Consolas, monaco, monospace;
    }
</style>

<table>
    @{
        foreach (var dataLineViewModel in Model)
        {
            <tr>
                <td>
                    <span class="dataLine">@dataLineViewModel.GetString()</span>
                </td>
            </tr>
        }
    }
</table>
